<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 ">
                <div class=" text-center">
                    <img src="../../../assets/signupLogo.jpg " alt="backgroundImage" width="110">


                </div>
                <div class="text-heading">
                    <h1>Login</h1>
                </div>

                <form class="form">
                    <mat-form-field class="fullwidth" appearance="outline">
                        <mat-label> username</mat-label>
                        <input matInput placeholder="username">

                    </mat-form-field>

                    <mat-form-field class="fullwidth" appearance="outline">
                        <mat-label> passowrd</mat-label>
                        <input matInput placeholder="passowrd">

                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="accent" class="buttom-signup">sign in</button>
                        <button mat-raised-button color="primary" class="buttom-signin">reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
